@inherits LayoutComponentBase
@using Microsoft.Extensions.Options
@using TTShang.AntDesignTheme.Blazor.Settings
@using TTShang.AntDesignTheme.Blazor.Components
@using TTShang.AntDesignTheme.Blazor.Layout
@using Volo.Abp.Ui.LayoutHooks
@using TTShang.AntDesignTheme.Blazor.Components.LayoutHooks
@using AntDesign.ProLayout
@inject IOptions<AbpAntDesignThemeOptions> Options

<AntDesign.ProLayout.BasicLayout 
    Logo="@("https://gw.alipayobjects.com/zos/rmsportal/KDpgvguMpGfqaHPjicRK.svg")"
    MenuData="MenuData"
    MenuAccordion
    @bind-Collapsed="collapsed" 
    RightContentRender="@RightContentRender">
    <HeaderContentRender>
        <Space Size="@("24")">
            <SpaceItem>
                <Icon Class="action" Type="@(collapsed?"menu-unfold":"menu-fold")" OnClick="Toggle" />
            </SpaceItem>
            <SpaceItem>
                <Icon Class="action" Type="reload" Theme="@IconThemeType.Outline"  />
            </SpaceItem>
        </Space>
    </HeaderContentRender>
    @* <RightContentRender>
        <TTShang.AntDesignTheme.Blazor.Components.RightContent />
    </RightContentRender> *@
    <ChildContent>
        <ReuseTabs>
        
        </ReuseTabs>
        @Body
    </ChildContent>
    <FooterRender>
        <FooterView Copyright="2021 Ant Design Blazor" ></FooterView>
    </FooterRender>
</AntDesign.ProLayout.BasicLayout>

<SettingDrawer />






@* <BasicLayout
    Logo="@LogoUrl"
    Title="@AppName"
    MenuData="MenuData"
    Theme="@(MenuTheme == MenuTheme.Dark ? MenuTheme.Dark : MenuTheme.Light)"
    Layout="@(MenuPlacement == MenuPlacement.Top ? AntDesign.ProLayout.Layout.Top : AntDesign.ProLayout.Layout.Side)"
    @bind-Collapsed="Collapsed"
    RightContentRender="@RightContentRender">
    <PageAlert/>
    <div class="ant-design-body-content">
        <LayoutHook Name="@LayoutHooks.Body.First" Layout="@StandardLayouts.Application" />
        @if (!Options.Value.EnableMultipleTabs)
        {
            @Body
        }
        else
        {
            <ReuseTabs Class="ant-design-body-reusetabs" TabPaneClass="ant-design-body-reusetabs-tabpane" Draggable></ReuseTabs>
        }
        <LayoutHook Name="@LayoutHooks.Body.Last" Layout="@StandardLayouts.Application" />
    </div>
    <DynamicLayoutComponent />
    <UiPageProgress/>
</BasicLayout> *@

@code {
    bool collapsed;
    private RenderFragment RightContentRender =>
        @<NavToolbar/>;
    void Toggle()
    {
        collapsed = !collapsed;
    }
    
}

